In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/14_naive_bayes/titanic.csv')

In [3]:
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [4]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [5]:
dummies=pd.get_dummies(df.Sex)

In [6]:
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [7]:
tit=pd.concat([df,dummies],axis=1)

In [8]:
tit.head()

   Pclass     Sex   Age     Fare  Survived  female  male
0       3    male  22.0   7.2500         0       0     1
1       1  female  38.0  71.2833         1       1     0
2       3  female  26.0   7.9250         1       1     0
3       1  female  35.0  53.1000         1       1     0
4       3    male  35.0   8.0500         0       0     1

In [9]:
input=tit.drop(['Sex','Survived'],axis=1)

In [10]:
input.isna().any()

Pclass    False
Age        True
Fare      False
female    False
male      False
dtype: bool

In [11]:

input.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [12]:
input['Age']=input.Age.fillna(input['Age'].mean())

In [13]:
input.head(10)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1
6       1  54.000000  51.8625       0     1
7       3   2.000000  21.0750       0     1
8       3  27.000000  11.1333       1     0
9       2  14.000000  30.0708       1     0

In [14]:
input.isnull().any()

Pclass    False
Age       False
Fare      False
female    False
male      False
dtype: bool

In [15]:
target=tit.Survived

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(input,target,test_size=0.2)

In [17]:
len(x_train)

712

In [18]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [19]:
model.fit(x_train,y_train)

GaussianNB()

In [20]:
model.score(x_train,y_train)

0.7780898876404494

In [21]:
y_prediction=model.predict_proba(x_test[:10])

In [22]:
y_prediction

array([[1.91798460e-02, 9.80820154e-01],
       [9.57503095e-05, 9.99904250e-01],
       [1.00597557e-01, 8.99402443e-01],
       [5.49602066e-05, 9.99945040e-01],
       [9.07605930e-01, 9.23940696e-02],
       [5.64384408e-04, 9.99435616e-01],
       [9.90475512e-01, 9.52448840e-03],
       [8.92453582e-02, 9.10754642e-01],
       [9.90496156e-01, 9.50384356e-03],
       [9.78621293e-01, 2.13787066e-02]])

In [23]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),x_train, y_train, cv=5)

array([0.81818182, 0.75524476, 0.73943662, 0.78873239, 0.76760563])

In [24]:
# =============== spam detection ================

In [25]:
sp=pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/14_naive_bayes/spam.csv')
sp.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [31]:
dummies=pd.get_dummies(sp['Category'])
dummies.head(3)

   ham  spam
0    1     0
1    1     0
2    0     1

In [36]:
sp.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [32]:
# =========== we can use another way to apply dummies for the caterory

In [40]:
sp['Spam']=sp['Category'].apply(lambda x: 1 if x=='spam' else 0)

In [41]:
sp.head()

  Category                                            Message  Spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [44]:
sp2=sp['Category'].map({'ham':0 , 'spam':1})

In [48]:
x_train,x_test,y_train,y_test = train_test_split(sp.Message,sp.Spam,test_size=0.2)

In [ ]:
# have to check here is an error +++++++++++++++++

In [67]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
x=v.fit_transform(x_train)
x_test_count= v.transform(x_test)

In [68]:
from sklearn.naive_bayes import MultinomialNB
mod= MultinomialNB()
mod.fit(x,y_train)

MultinomialNB()

In [69]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count=v.fit_transform(emails)
mod.predict(emails_count)

ValueError: X has 25 features, but MultinomialNB is expecting 7784 features as input.

In [70]:
#============= ANOTHER METHOD BY USING PIPELINE TECHNIQUE ++++++++++++++

In [71]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [72]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [75]:
clf.score(x_test,y_test)

0.9838565022421525

In [76]:
clf.predict(emails)

array([0, 1], dtype=int64)

In [77]:
#### ++++++++++ Exercise ++++++++++++++

In [78]:
from sklearn.datasets import load_wine
wine= load_wine()

In [84]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [82]:
wi= pd.DataFrame(wine.data,columns=wine.feature_names)

In [85]:
wi['target']=wine.target

In [86]:
wi.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [99]:
X_train,X_test,Y_trai,Y_test= train_test_split(wine.data,wine.target,test_size=0.2)

In [100]:
from sklearn.naive_bayes import GaussianNB , MultinomialNB
g=GaussianNB()
m=MultinomialNB()

In [101]:
g.fit(X_train,Y_trai)

GaussianNB()

In [102]:
g.score(X_test,Y_test)

0.9444444444444444

In [103]:
m.fit(X_train,Y_trai)

MultinomialNB()

In [104]:
m.score(X_test,Y_test)

0.8611111111111112